# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv_gpu/
env/
.venv/

# Python packaging
*.egg-info/
dist/
build/

# Logs
Logs/
*.log

# Checkpoints
*.ckpt
*.pth
*.pt

# Dataset
datasets/
data/

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/